{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["@typescript-eslint"],
  // "extends": [
  //   "eslint:recommended",
  //   "plugin:@typescript-eslint/recommended",
  //   "plugin:prettier/recommended"
  // ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["/node_modules/", "/dist/"],
  "rules": {
    "no-console": "warn",

    "no-alert": "error",
    "no-debugger": "error",
    "no-duplicate-imports": "error",
    "no-unreachable": "error",
    "require-await": "error"
  }
}
